chipstream[CLI]==0.6.3
dclab==0.62.6
dcnum==0.25.3
dcoraid==0.15.2
h5py==3.12.1
numpy==1.26.4
scikit-image==0.24.0  # no-upgrade
scipy==1.11.4  # no-upgrade
torch==2.3.1  # no-upgrade
torchvision==0.18.1  # no-upgrade